@import './themes.module.scss';

@mixin theme-select {
	@each $theme-name, $theme-map in $themes {
		$theme-map: $theme-map !global;
		[theme='#{$theme-name}'] & {
			@content;
		}
	}
}

@function get-color($key) {
	@return map-get($theme-map, $key);
}

@mixin background_color($color-key) {
	@include theme-select {
		background-color: get-color($color-key) !important;
	}
}

@mixin color($color-key) {
	@include theme-select {
		color: get-color($color-key) !important;
	}
}