$themes: (
  light: (
    background-color_0: rgb(241, 241, 241),

    color_0: rgb(37, 37, 37),
  ),
  dark: (
    background-color_0: rgb(51, 51, 51),

    color_0: rgb(255, 255, 255),
  ),
)